@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* begin letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end letters */

/* bespoke styling begins */
/* "Bracketed" layout facsimile: 
   falls back to continuous left-aligned paragraphs, differentiating from rest of footer;
   flexbox support brings side-by-side presentation with 1px border between. */
/* ...fallback: */
#chapter-2 div p{
	margin-bottom: .5em;
	text-align: left;
}

#chapter-2 div p:first-child{
	padding-left: 1em;
	text-indent: -1em;
}

#chapter-2 div p:last-child{
	text-indent: 0;
}

/* ...@supports flexbox: */
@supports((display: inline-flex) and (display: flex)){
	#chapter-2 div{
		display: flex;
		flex-direction: row;
	}

	#chapter-2 div p:first-child{
		border-right: 1px solid black;
		padding-right: 1em;
		text-indent: -1em;
		width: 50%;
	}

	#chapter-2 div p:last-child{
		align-self: center;
		padding-left: 1em;
		width: 50%;
	}
}
/* end "Bracketed" layout facsimile */

#chapter-10 header > p:first-of-type{
	font-variant: small-caps;
	margin: 1em 0;
	text-align: center;
}

#chapter-21 ol{
	list-style: none;
}

#chapter-21 li{
	padding-left: 1.5em;
}

#chapter-21 li > p{
	text-indent: -2.5em;
}

/* bespoke styling ends */
