@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* begin letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end letters */

/* bespoke styling */
#chapter-10 header > p:first-of-type{
	font-variant: small-caps;
	margin: 1em 0;
	text-align: center;
}

#chapter-21 ol{
	list-style: none;
}

#chapter-21 li{
	padding-left: 1.5em;
}

#chapter-21 li > p{
	text-indent: -2.5em;
}
